html, body {
	margin-top:0px;
	padding:0px;
 }
header {
	background-color: #BDE6FA;
	text-align: center;
	margin-top: 0px;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 0px;
	font-size: 20px;
	padding:0px;
	height: 50px;
	min-width: 750px;
	max-height: 50px;
}
body {
	color: #BDE6FA;
	background-image: url(pic/elitefon.ru_5290.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	margin-bottom: 0px;
	overflow-x: auto;
}
 .semiopacity {
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	min-width: 750px;
	min-height: 800px;
	margin-left: 8%;
	margin-right: 8%;
	margin-top:0px;
	padding:0px;
  }

A {
  color:  #6496F7;
	text-decoration: none;
}
 A:visited {
    color: #cecece;
 }
 A:hover {
	  color: #7B5889;
 }
 A:active {
    color: #ffff00;
 }

h1 {
	color: black;
}

h2 {
	color: #ffffff;
}

table.table {
	margin-top: 20px;
	width: 100%;
	border-spacing: 10px;
}

td.item {
	width: 18%;
	vertical-align: top;
}

table.main {
	width: 100%;
	border-collapse: collapse;
}

tbody {
	width: 100%;
}

img {
	width: 100%;
}

footer {
  position: fixed;
	color: #ECF7FD;
  bottom: 10px;
	left: 10%;
}
