html, body {
	margin-top:0px;
	padding:0px;
 }
header{
	text-align: center;
	margin-top: 0px;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 0px;
	font-size: 20px;
	background-color: #BDE6FA;
	padding:0px;
	height: 50px;
	min-width: 750px;
	max-height: 50px;
}
body {
	color: #BDE6FA;
	background-image: url(pages/elitefon.ru_5290.jpg);
	background-size: cover;  
	height: 100%;
	margin-bottom: 0px;
	overflow-x: auto;
	background-attachment: fixed;
}
 .semiopacity {
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top:0px;
	min-width: 750px;
	min-height: 800px;
	 padding:0px;
   }
A {
    color:  #6496F7; /* Цвет ссылок */
	text-decoration: none;
   }
 A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
   }
 A:hover{
	color: #7B5889;
 }
 A:active {
    color: #ffff00; /* Цвет активных ссылок */
   }
h1{
	color: black;
}
table.newstable {
	margin-top: 20px;
	width: 100%; 
	border-spacing: 10px;
}
td.newsitem{
	width: 18%; 
	vertical-align: top;
}
table.main {
	width: 100%;
	border-collapse: collapse;
}
tbody{
	width: 100%;
}
img{
	width: 100%; 
}
h2{
	color: #ffffff;
}
footer{
	color: #ECF7FD;
	/* position: absolute; /* Абсолютное позиционирование */ 
    bottom: 10px; /* Положение от нижнего края */
	left: 10%;
	position: fixed;
}